table{
    border:solid #fff 1px;
    background-image: url(../images/fundo_preto.jpg); 
	width:200px;
	padding:0;
	float: left;
}

table tr td{
	width:50px;
    min-width:50px;
	height:50px;
	/*border:1px solid black;*/
}

table tr:nth-child(even) td:nth-child(even) {
    background-color: #F5DFD3; 
}

table tr:nth-child(odd) td:nth-child(odd) {
	background-color:#F5DFD3;  
}

div.peca {
		width: 30px;
		height: 30px;
		margin:10px;
		-moz-border-radius:20px;
        -webkit-border-radius:20px;
        border-radius:20px;
}

div.azul {
	background: -webkit-radial-gradient(#5C28EB, white, #5C28EB); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#5C28EB, white, #5C28EB); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#5C28EB, white, #5C28EB); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#5C28EB, white, #5C28EB); /* Standard syntax */
}

div.vermelha {

	background: -webkit-radial-gradient(#D90F23, white, #D90F23); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#D90F23, white, #D90F23); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#D90F23, white, #D90F23); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#D90F23, white, #D90F23); /* Standard syntax */	
}

div#boxA, div#boxB{
	float: left;
	margin:0 20px;
	background: #333;
	border: 1px solid #CCC;
	height: 200px;
	width: 200px;
}
body
{
	background-color: #000;
	margin:10 10 0 0;
}